# build files
obj
bin

# IDE files and folders
*.user
*.suo
*.pdb
*.bak
*.FileListAbsolute.txt
.vs

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Mac files
.DS_Store

# Log files
*.log
